.about
	text-align: center
	padding-bottom: 60px

.about__heading
	text-align: center
	font-size: 14px
	margin: 50px 0

.about__picture
	transition: all .3s ease
	margin: 0 50px

.about__info, .about__picture
	vertical-align: middle

.about__info__heading
	font-size: 13px

.about__info__text
	font-size: 13px
	line-height: 1.8
	transition: width .3s ease

@media (max-width: 1300px)
	.about__picture
		transform: scale( .8 )
		margin: 0 30px
		transition: all .3s ease

@media (max-width: 1080px)
	.about__info__text
		width: 70%
		margin: 0 auto
		transition: width .3s ease

	.about__picture
		margin: 30px 0

@media (max-width: 600px)
	.about__info__text
		width: 100%
		transition: width .3s ease

	.about__picture
		margin: 15px 0
