.work__body
	background-color: #fff
	margin-bottom: 0
	padding: 1px

.work__title
	font-size: 55px
	color: $darkGray
	margin: 80px auto
	text-align: center
	width: 60%
	transition: all .3s ease

@media (max-width: 700px)
	.work__title
		width: 100%
		font-size: 35px
		transition: all .3s ease
