@charset "UTF-8";
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.title--hidden {
  position: absolute;
  left: -99999px; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat';
  font-weight: 700;
  text-transform: uppercase; }

p {
  font-family: "Lato"; }

hr {
  border: 1px solid #ec6759;
  width: 100px; }

ul {
  list-style-type: none; }

.my-fa-twitter:before {
  content: "\f099"; }

.my-fa-facebook:before {
  content: "\f09a"; }

.my-fa-linkedin:before {
  content: "\f0e1"; }

.wrap {
  width: 1200px;
  margin: 0 auto;
  transition: width 0.3s ease; }

.row-3 {
  display: inline-block;
  vertical-align: middle;
  width: 30%; }

.hidden {
  display: none; }

@media (max-width: 1300px) {
  .wrap {
    width: 1000px;
    transition: width 0.3s ease; } }

@media (max-width: 1080px) {
  .wrap {
    width: 780px;
    transition: width 0.3s ease; }
  .row-3 {
    display: block;
    width: 100%; } }

@media (max-width: 800px) {
  .wrap {
    width: 680px; } }

@media (max-width: 700px) {
  .wrap {
    width: 100%;
    padding: 0 20px;
    box-sizing: border-box;
    transition: width 0.3s ease; } }

.section {
  padding-top: 50px; }

.section__heading {
  text-align: center;
  font-size: 14px;
  margin-bottom: 50px; }

.blog {
  text-align: center;
  background-color: #fff; }

.blog__post-preview:nth-child(3n + 2) {
  margin: 0 55px 50px;
  transition: margin 0.3s ease; }

@media (max-width: 1080px) {
  .blog .blog__post-preview:nth-child(3n + 2) {
    margin: 0 0 50px; } }

.btn {
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 11px;
  color: #fff;
  background-color: #ec6759;
  text-transform: uppercase;
  border-radius: 6px;
  margin: 60px auto;
  padding: 15px 25px;
  display: inline-block;
  letter-spacing: 1px;
  text-decoration: none;
  overflow: hidden;
  position: relative;
  border: 2px solid #ec6759;
  transition: all 0.3s; }
  .btn:hover {
    color: #2e2e2e; }
    .btn:hover .btn__bg {
      left: -100%;
      top: -100%;
      bottom: -100%;
      right: -100%; }

.btn__text {
  position: relative;
  z-index: 100; }

.btn__bg {
  position: absolute;
  z-index: 50;
  top: 150%;
  left: 0;
  right: 0;
  bottom: 150%;
  -webkit-transform: rotate(-25deg);
  transform: rotate(-25deg);
  background-color: #fff;
  transition: all 0.4s ease; }

.download-btn {
  display: block;
  text-align: center;
  width: 120px;
  margin: 30px auto 0;
  color: #fff !important; }

.recent-works {
  background-color: #465256;
  text-align: center; }
  .recent-works .section__heading {
    color: #f0f0f1;
    font-weight: 400; }

.work-preview:nth-child(3n + 2) {
  margin: 0 55px 50px;
  transition: margin 0.3s ease; }

.recent-works .btn {
  margin-top: 0; }
  .recent-works .btn .btn__text {
    color: #fff; }
  .recent-works .btn .btn__bg {
    background-color: #465256; }

.post {
  background-color: #fff;
  padding: 0 0 150px; }

@-webkit-keyframes homebtn {
  0% {
    stroke-dashoffset: 104.06211678323668px; }
  50% {
    stroke-dasharray: 50px 70px; }
  100% {
    stroke-dashoffset: 0; } }

@keyframes homebtn {
  0% {
    stroke-dashoffset: 104.06211678323668px; }
  50% {
    stroke-dasharray: 50px 70px; }
  100% {
    stroke-dashoffset: 0; } }

.home-btn {
  position: absolute;
  top: 95px;
  transition: all 0.3s ease; }
  .home-btn circle {
    stroke-dasharray: 104.06211678323668px; }
  .home-btn:hover circle {
    -webkit-animation: homebtn 0.6s ease;
    animation: homebtn 0.6s ease; }

.post__title {
  font-size: 55px;
  color: #2e2e2e;
  padding: 80px 0;
  margin: 0 auto;
  text-align: center;
  width: 60%;
  transition: all 0.3s ease; }

.post__date,
.post__category {
  font-family: "Montserrat";
  text-transform: uppercase;
  color: #ec6759;
  font-size: 14px; }

.post__content,
.post__content .content__container {
  width: 55%;
  margin: 0 auto;
  display: block;
  font-size: 15px;
  -moz-osx-font-smoothing: grayscale;
  transition: width 0.3s ease; }
  .post__content a,
  .post__content .content__container a {
    color: #ec6759;
    text-decoration: none; }
    .post__content a:hover,
    .post__content .content__container a:hover {
      text-decoration: underline; }
  .post__content p,
  .post__content .content__container p {
    line-height: 1.8; }
  .post__content li,
  .post__content .content__container li {
    font-family: "Lato";
    margin: 5px 0;
    line-height: 1.6; }
    .post__content li:before,
    .post__content .content__container li:before {
      font-weight: 900;
      color: #ec6759;
      margin-left: -18px;
      margin-right: 10px; }
  .post__content ul,
  .post__content .content__container ul {
    margin: 45px 0; }
    .post__content ul li:before,
    .post__content .content__container ul li:before {
      content: "»"; }
  .post__content ol,
  .post__content .content__container ol {
    list-style-type: none;
    font-family: "Lato"; }
    .post__content ol li,
    .post__content .content__container ol li {
      counter-increment: step-counter; }
    .post__content ol li:before,
    .post__content .content__container ol li:before {
      content: counter(step-counter);
      font-size: 13px; }
  .post__content img,
  .post__content .content__container img {
    max-width: 100%; }
  .post__content code,
  .post__content .content__container code {
    font-size: 12px; }

.viewmore {
  width: 30%;
  padding: 0;
  vertical-align: top; }

.viewmore__posts,
.viewmore__works {
  padding-left: 0; }

.viewmore__heading {
  text-align: center;
  margin-bottom: 35px; }

@media (max-width: 1300px) {
  .post__content,
  .post__content .content__container {
    width: 70%;
    transition: width 0.3s ease; } }

@media (max-width: 1080px) {
  .post__content,
  .post__content .content__container {
    width: 90%;
    transition: width 0.3s ease; } }

@media (max-width: 700px) {
  .home-btn {
    top: 15px;
    left: 15px;
    transition: all 0.3s ease; }
  .post__title {
    width: 100%;
    font-size: 35px;
    transition: all 0.3s ease; }
  .post__content,
  .post__content .content__container {
    width: 100%; }
    .post__content code,
    .post__content .content__container code {
      font-size: 13px; } }

.share {
  text-align: center;
  padding-top: 40px; }

.share-btn {
  display: inline-block;
  width: 40px;
  height: 40px;
  margin: 0 5px;
  background-color: #eee;
  border-radius: 6px;
  color: #fff !important;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: .4px;
  color: #fff;
  transition: box-shadow 0.3s ease;
  overflow: hidden;
  position: relative; }
  .share-btn i {
    position: absolute;
    left: 50%;
    color: #fff !important;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    transition: all 0.3s ease; }
  .share-btn i:first-child {
    font-size: 16px;
    top: 50%;
    left: 50%;
    -webkit-transform: translateY(-50%) translateX(-50%);
    transform: translateY(-50%) translateX(-50%);
    vertical-align: top; }
  .share-btn i:last-child {
    top: -50%; }
  .share-btn:hover i:first-child {
    top: 150%;
    transition: all 0.3s ease; }
  .share-btn:hover i:last-child {
    top: 50%;
    left: 50%;
    -webkit-transform: translateY(-50%) translateX(-50%);
    transform: translateY(-50%) translateX(-50%);
    transition: all 0.3s ease; }

.f-share {
  background-color: #3B5998; }

.t-share {
  background-color: #4099FF; }

.lkdin-share {
  background-color: #0077B5; }

.blog__post-preview {
  margin-bottom: 50px; }
  .blog__post-preview:last-of-type {
    margin-right: 0; }
  .blog__post-preview.appear {
    display: inline-block !important;
    -webkit-animation: fadeIn 1s ease;
    animation: fadeIn 1s ease; }
  .blog__post-preview .post__heading {
    font-size: 13px;
    text-align: center; }
    .blog__post-preview .post__heading::after {
      content: "";
      display: block;
      margin: 12px auto 5px;
      border: 1px solid #ec6759;
      width: 100px; }
  .blog__post-preview .post__heading__link {
    color: inherit;
    text-decoration: none; }
  .blog__post-preview .post__date {
    font-size: 12px;
    text-transform: uppercase;
    font-family: "Montserrat";
    text-align: center;
    display: block;
    margin-top: 10px;
    color: #ec6759; }
  .blog__post-preview .post__header-separator {
    border: 1px solid #ec6759;
    width: 100px; }
  .blog__post-preview .post__body {
    font-size: 13px;
    font-family: "Lato";
    line-height: 1.8;
    margin-top: 25px;
    text-align: left; }
    .blog__post-preview .post__body em {
      font-style: italic;
      font-weight: 700; }
  .blog__post-preview .post__footer {
    padding-top: 15px;
    text-align: center; }
  .blog__post-preview .post__footer__link {
    font-size: 11px;
    font-family: "Montserrat";
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    color: #000;
    position: relative; }
    .blog__post-preview .post__footer__link::after {
      content: " ";
      display: block;
      position: absolute;
      bottom: -2px;
      left: 52%;
      right: 52%;
      height: 2px;
      background-color: #ec6759;
      transition: all 0.2s ease; }
    .blog__post-preview .post__footer__link:hover {
      color: #2e2e2e;
      transition: all 0.2s; }
    .blog__post-preview .post__footer__link:hover::after {
      left: 0;
      right: 0;
      transition: all 0.2s ease; }

.blog .btn {
  margin-top: 0; }

@media (max-width: 1300px) {
  .blog__post-preview:nth-child(3n + 2) {
    margin: 0 30px 50px;
    transition: margin 0.3s ease; } }

@media (max-width: 1080px) {
  .blog__post-preview {
    display: none; }
    .blog__post-preview:nth-child(3n + 2) {
      margin: 50px 0; }
    .blog__post-preview:first-child {
      display: block; }
    .blog__post-preview .post__body {
      width: 70%;
      margin: 25px auto 0; } }

@media (max-width: 600px) {
  .blog__post-preview .post__body {
    width: 100%;
    text-align: center; } }

.work-preview {
  text-align: center;
  margin-bottom: 50px; }
  .work-preview:last-of-type {
    margin-right: 0; }
  .work-preview.whitebg .work-preview__heading {
    color: #2e2e2e;
    font-weight: 700; }
  .work-preview.whitebg .work-preview__date {
    color: #2e2e2e;
    font-weight: 700;
    font-size: 11px;
    font-family: "Montserrat"; }
  .work-preview.appear {
    display: inline-block !important;
    -webkit-animation: fadeIn 1s ease;
    animation: fadeIn 1s ease; }

.work-preview__thumb-container {
  border-radius: 6px;
  overflow: hidden;
  max-width: 360px;
  margin: 0 auto;
  height: 200px; }

.work-preview__heading {
  font-size: 13px;
  font-weight: 400;
  color: #fff; }
  .work-preview__heading::after {
    content: "";
    display: block;
    margin: 12px auto 5px;
    border: 1px solid #ec6759;
    width: 100px; }

.work-preview__link {
  color: inherit;
  text-decoration: none; }

.work-preview__date {
  font-family: "Montserrat";
  font-size: 12px;
  color: #fff;
  text-transform: uppercase; }

@media (max-width: 1300px) {
  .work-preview:nth-child(3n + 2) {
    margin: 0 30px 50px;
    transition: margin 0.3s ease; } }

@media (max-width: 1080px) {
  .work-preview:nth-child(3n + 2) {
    margin: 0 0 50px; } }

@media (max-width: 700px) {
  .btn {
    margin-top: 0; }
  .work-preview:nth-child(3) {
    display: none; }
  .work-preview:last-of-type {
    margin-bottom: 50px; }
  .work-preview__thumbnail {
    width: 100%;
    height: auto; } }

@media (max-width: 500px) {
  .work-preview__thumb-container {
    max-width: none;
    height: 230px; } }

.page-footer {
  height: 200px;
  background-color: #2e2e2e;
  text-align: center;
  padding-top: 65px;
  box-sizing: border-box; }
  .page-footer img {
    -webkit-transform: scale(0.7);
    transform: scale(0.7); }

/*# sourceMappingURL=blog-post.css.map */