h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat';
  font-weight: 700;
  text-transform: uppercase; }

p {
  font-family: "Lato"; }

.wrap {
  width: 1200px;
  margin: 0 auto;
  transition: width 0.3s ease; }

.row-3 {
  display: inline-block;
  width: 30%; }

@media (max-width: 1300px) {
  .wrap {
    width: 1000px;
    transition: width 0.3s ease; } }

@media (max-width: 1080px) {
  .wrap {
    width: 780px;
    transition: width 0.3s ease; } }

@media (max-width: 800px) {
  .wrap {
    width: 680px; }
  div.row-3 {
    display: block;
    width: 100%; } }

@media (max-width: 600px) {
  .wrap {
    width: 100%;
    padding: 0 20px;
    box-sizing: border-box;
    transition: width 0.3s ease; } }

.header {
  background-color: #2e2e2e;
  height: 700px;
  text-align: center;
  display: table;
  width: 100%;
  color: #f0f0f1; }

.header__content {
  display: table-cell;
  vertical-align: middle; }

.header__logo--image {
  display: block;
  margin: 0 auto 25px; }

.header__logo--text {
  font-size: 14px;
  display: inline-block;
  position: relative;
  letter-spacing: 4px;
  margin-bottom: 50px; }
  .header__logo--text::before, .header__logo--text::after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    height: 2px;
    background-color: #ec6759; }
  .header__logo--text::before {
    top: -10px; }
  .header__logo--text::after {
    bottom: -11px; }

.welcome__greeting {
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: 1px;
  font-size: 14px; }

.welcome__about {
  font-size: 14px;
  font-weight: 300;
  max-width: 430px;
  margin: 0 auto;
  line-height: 1.5;
  margin-bottom: 60px; }

.contact-btn {
  color: #f0f0f1;
  border: 2px solid #ec6759;
  border-radius: 6px;
  display: inline-block;
  padding: 17px 45px;
  font-size: 11px;
  text-transform: uppercase;
  text-decoration: none;
  font-family: "Montserrat";
  font-weight: 700;
  position: relative;
  overflow: hidden; }
  .contact-btn .contact-btn__text {
    position: relative;
    z-index: 2; }
  .contact-btn .contact-btn__bg {
    background-color: #ec6759;
    position: absolute;
    top: 150%;
    bottom: 150%;
    left: 0;
    right: 0;
    -webkit-transform: rotate(25deg);
    transform: rotate(25deg);
    transition: all 0.3s ease;
    z-index: 1; }
  .contact-btn:hover .contact-btn__bg {
    bottom: -30%;
    left: -40%;
    right: -40%;
    top: -30%;
    transition: all 0.3s ease; }

.scrolldown-btn {
  background: url("../img/scroll-arrow.svg");
  display: block;
  width: 45px;
  height: 45px;
  border: none;
  margin: 0 auto;
  margin-top: 80px; }

.about {
  text-align: center;
  display: table;
  width: 100%;
  padding-bottom: 60px; }

.about__heading {
  text-align: center;
  font-size: 14px;
  margin: 50px 0; }

.about__picture {
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease; }

.about__info, .about__picture {
  display: table-cell;
  vertical-align: middle; }

.about__info__heading {
  font-size: 13px; }

.about__info__text {
  font-size: 13px;
  line-height: 1.8;
  transition: width 0.3s ease; }

@media (max-width: 1300px) {
  .about__picture {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
    transition: -webkit-transform 0.3s ease;
    transition: transform 0.3s ease; } }

@media (max-width: 800px) {
  .about__info__text {
    width: 70%;
    margin: 0 auto;
    transition: width 0.3s ease; } }

@media (max-width: 600px) {
  .about__info__text {
    width: 100%;
    transition: width 0.3s ease; } }

/*# sourceMappingURL=index.css.map */